@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply mb-16 relative even:top-10 md:[&:nth-child(3n+2)]:top-20;
  }

  .card__imgContainer {
    @apply relative md:w-[80%];
  }

  .card__wkPos {
    @apply absolute origin-top-left translate-x-full top-0 -right-1 rotate-90 z-10 uppercase font-ptSefif text-sm md:text-base md:-right-4;
  }

  .card__img {
    @apply w-[90%] md:w-[95%];
  }

  .card__name {
    @apply font-semibold text-base mt-2.5 md:text-lg;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
